* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #141414;
  font-family: 'Montserrat', sans-serif;
}

/* CLASSI HELPER */

.wrap {
  flex-wrap: wrap;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-rev {
  display: flex;
  flex-direction: row-reverse;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.alg-center {
  align-items: center;
}

.jfy-center {
  justify-content: center;
}

.jfy-between {
  justify-content: space-between;
}

.jfy-around {
  justify-content: space-around;
}

.displayNone {
  display: none;
}

.displayBlock {
  display: block;
}

.yellow {
  color: yellow;
}

.grey {
  color: grey;
}

.h-80 {
  height: 80px;
}

.f-size-15 {
  font-size: 15px;
}

.f-size-12 {
  font-size: 12px;
}

.mg-lt-20 {
  margin-left: 20px;
}

.mg-lt-10 {
  margin-left: 10px;
}

.label {
  margin: 20px 0px 10px 0px;
  font-size: 15px;
}

.mg-r-50 {
  margin-right: 50px;
}

.text-center {
  text-align: center;
}





.container {
  width: 1080px;
  margin: 0 auto;
  padding: 20px 0 40px 0;
}

/* HEADER */

header {
  padding: 30px 40px;
  background-color: #1b1b1b;
}

.search-header {
  height: 20px;
  color: white;
}

.search-header button {
  color: white;
  border-style: none;
  background-color: #1b1b1b;
}

.search-bar {
  height: 0px;
  position: relative;
  transition: height .5s;
}

.h30 {
  height: 30px;
}

.search-bar span {
  color: white;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(0%, -50%);
}

.search-header {
  height: 30px;
}

.search-header input {
  width: 200px;
  height: 100%;
  border-style: none;
  padding: 0 30px 0 10px;
  background-color: black;
  border: 1px solid white;
  color: white;
}




.logo img {
  width: 120px;
}


/* CARDS BODY */

.my-card {
  position: relative;
  width: 340px;
  height: 513px;
  margin: 0px 10px;
  margin-bottom: 20px;
}

.poster, .film-info {
  width: 340px;
  height: 513px;
}

.poster {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.img-not-available {
  width: 100%;
  height: 513px;
  visibility: visible;
  transition: opacity .3s;
  background-color: #1b1b1b;
  border: 3px solid #a11a23;
  color: white;
  padding: 0 10px;
}

.img-not-available  img:last-child {
  margin-top: 10px;
  width: 60px;
  height: 20px;
}

.poster img {
  width: 100%;
  height: 513px;
  visibility: visible;
  transition: opacity .3s;
}

.film-info {
  visibility: hidden;
  padding: 10px;
  color: white;
  overflow: auto;
}

.film-info h1 {
  font-size: 25px;
  margin-bottom: 10px;
}

.film-info h2 {
  font-size: 20px;
  margin-top: 5px;

}

.film-info .flag {
  width: 25px;
}

.cast {
  padding-top: 10px;
}

.cast li {
  list-style: none;
  font-size: 12px;
}

.film-info p {
  font-size: 13px;
}


/* PAGINATION NAV */

.pagination {
  display: inline-block;
}

.pagination a {
  color: white;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

/* HOVERS */

.my-card:hover .film-info {
  visibility: visible;
}

.my-card:hover .poster img {

  opacity: 0.1;

}

.my-card:hover .poster .img-not-available {

  opacity: 0.1;

}
